# phonebook.py
print ("Type number '1' to add a contact to the list,type number '2' to see the contacts and the numbers ,try number '3' if you want to do the both reading and appending or press 'Enter' key to exit.")
